[user]
	name = marcelo.arteaga
	email = arteagamarcelo@gmail.com

[color]
	ui = auto

[diff]
  tool = meld

[difftool]
  prompt = false

[difftool "meld"]
  cmd = meld "$LOCAL" "$REMOTE"

[credential]
	helper = osxkeychain

[merge]
	tool = meld
