snippet stf "Flutter StatefulWidget"
class ${0} extends StatefulWidget {
	@override
	_MyButtonState createState() => _${0}State();
}

class _${0}State extends State<${0}> {
	@override
	Widget build(BuildContext context) {
		return Center(
		);
	}
}
endsnippet
